<div class="container">
  <%= render 'shared/breadcrumb' %>

  <div class="tags article_tags">
  <% if @local.tag %>
      <% @local.tag.i18n_true_tags.each do |local_tag| %>
        <p class="tag"><%= local_tag %></p>
      <% end %>
  <% elsif @local == current_local %>
      <%= link_to "タグ付けをして移住希望者に見つけてもらいやすくする", new_tag_path %>
  <% end %>
  </div>

  <div class="local_main btm10per">

  <% if @local == current_local %>
    <div class="edit_btn">
      <a href="#" class="dropdown-toggle navItem" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-edit"></i> 編集
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><%= link_to 'アカウント設定', edit_local_registration_path(@local), class: 'dropdown-item navItem' %></li>
        <% if @local.profile %>
          <li><%= link_to 'プロフィール編集', edit_profile_path(@local.profile.id), class: 'dropdown-item navItem' %></li>
          <% else %>
          <li><%= link_to 'プロフィール登録', new_profile_path, class: 'dropdown-item navItem' %></li>
        <% end %>
        <% if @local.tag %>
          <li><%= link_to "タグづけ編集", edit_tag_path(@local.tag.id), class: 'dropdown-item navItem' %></li>
        <% else %>
          <li><%= link_to "タグ登録", new_tag_path, class: 'dropdown-item navItem' %></li>
        <% end %>
        <% if @local.score %>
          <li><%= link_to "スコア編集", edit_score_path(@local.score.id), class: 'dropdown-item navItem' %></li>
        <% else %>
          <li><%= link_to "スコア登録", new_score_path, class: 'dropdown-item navItem' %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <h2><%= @local.full_name %>はこんなtoko</h2>
    <section class="separate">
      <% if @local.image? %>
        <%= image_tag @local.image.url %>
      <% else %>
      <%= image_tag 'article_default.png' %>
      <% end %>

      <% if @local.profile && @local.profile.introduction %>
        <p class="txt-left"><%= @local.profile.introduction %></p>
      <% elsif current_local == @local %>
        <p class="txt-center"><%= link_to 'あなたの町がドンナトコか登録しましょう', new_profile_path%></p>
      <% else %>
        <p class="txt-center">coming soon...</p>
      <% end %>
    </section>

    <h2><i class="fas fa-map-marker-alt"></i> 場所を確認</h2>
    <section>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13755921.802890059!2d129.42164090240496!3d32.675956666524435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34674e0fd77f192f%3A0xf54275d47c665244!2z5pel5pys!5e0!3m2!1sja!2sjp!4v1627342613410!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>

    <%= link_to "#{@local.name}の記事をみてみる", local_articles_path(@local), class: 'pink_btn inline btm10per' if @local.articles.any? %>

    <h2><i class="far fa-star"></i> 登録スコア</h2>
    <section class="score score_area">

      <% if @local.score %>
        <div class="score_lists">
          <dl class="score_list">
            <dt>自然</dt>
            <dd><%= @local.score.nature %></dd>
          </dl>
          <dl class="score_list">
              <dt>アクセス</dt>
              <dd><%= @local.score.accessibility %></dd>
          </dl>
          <dl class="score_list">
              <dt>お財布事情</dt>
              <dd><%= @local.score.budget %></dd>
          </dl>
          <dl class="score_list">
              <dt>職</dt>
              <dd><%= @local.score.job_support %></dd>
          </dl>
          <dl class="score_list">
              <dt>ファミリー向け支援</dt>
              <dd><%= @local.score.family_support %></dd>
          </dl>
          <dl class="score_list">
              <dt>文化</dt>
              <dd><%= @local.score.culture %></dd>
          </dl>
        </div>
        <div class="item3">
          <div class="score_chart">
            <canvas id="myChart", width="50%"></canvas>
          </div>
        </div>

      <% elsif current_local == @local %>
        <%= link_to 'あなたの町がドンナトコか登録しましょう', new_score_path %>
      <% else %>
        <p class="txt-center">coming soon...</p>
      <% end %>
    </section>

    <%= link_to "#{@local.name}の記事をみてみる", local_articles_path(@local), class: 'pink_btn inline btm10per' if @local.articles.any? %>

    <h2><i class="fas fa-chart-bar"></i> 数字でみてみる</h2>
    <section>
      <% if @local.profile %>
        <div class="local-numbers">
          <div class="number-item item1">
            <p class="number-icon"><i class="fas fa-user-friends"></i></p>
            <h3>人口</h3>
            <% if @local.profile.population? %>
                <span class="local-number"><%= add_units(@local.profile.population.to_s) %></span> 人
            <% else %>
              coming soon...
            <% end %>
          </div>
          <div class="number-item item1">
            <p class="number-icon"><i class="fas fa-temperature-high"></i></p>
            <h3>平均気温</h3>
            <% if @local.profile.temperature? %>
                <span class="local-number"><%= number_to_human(@local.profile.temperature, units: {million: "00万"}, delimiter: ",") %></span> &#x2103;
            <% else %>
              coming soon...
            <% end %>
          </div>
          <div class="number-item item1">
            <p class="number-icon"><i class="fas fa-truck-moving"></i></p>
            <h3>転入数<span class="font-s">（前年）</span></h3>
            <% if @local.profile.moved_in? %>
                <span class="local-number"><%= number_to_human(@local.profile.moved_in, units: {million: "00万"}, delimiter: ",") %></span> 人
            <% else %>
              coming soon...
            <% end %>
          </div>
          <div class="number-item item2">
            <p class="number-icon"><i class="fas fa-baby"></i></p>
            <div>
              <h3>待機児童数</h3>
              <% if @local.profile.waiting_children? %>
                  <span class="local-number"><%= number_to_human(@local.profile.waiting_children, units: {million: "00万"}, delimiter: ",") %></span> 人
              <% else %>
                <p>coming soon...</p>
              <% end %>
            </div>
          </div>
          <div class="number-item item2">
            <p class="number-icon"><i class="fas fa-home"></i></p>
              <div>
                <h3>平均家賃</h3>
                <% if @local.profile.land_price? %>
                    <span class="local-number"><%= add_units(@local.profile.land_price.to_s) %></span> 円
                <% else %>
                  <p>coming soon...</p>
                <% end %>
            </div>
          </div>
          <div class="number-item item1">
            <p class="number-icon"><i class="fas fa-yen-sign"></i></p>
              <h3>平均所得</h3>
              <% if @local.profile.income? %>
                  <span class="local-number"><%= add_units(@local.profile.income.to_s) %></span> 円
              <% else %>
                <p>coming soon...</p>
              <% end %>
          </div>
          <div class="number-item item2 item3">
            <p class="number-icon"><i class="fas fa-exclamation-triangle"></i></p>
            <div>
              <h3>犯罪率</h3>
              <% if @local.profile.crime_rate? %>
                <span class="local-number"><%= number_to_human(@local.profile.crime_rate, units: {million: "00万"}, delimiter: ",") %></span> %
              <% else %>
                <p>coming soon...</p>
              <% end %>
              <p>全国平均：0.9%</p>
            </div>
          </div>
        </div>

        更新日時：<%= @local.profile.updated_at.to_s(:datetime_jp) %>
      <% elsif current_local == @local %>
        <p class="txt-center"><%= link_to 'あなたの町がドンナトコか登録しましょう', new_profile_path%></p>
      <% else %>
        <p>coming soon...</p>
      <% end %>
    </section>

    <section class="txt-left">
      <h2><i class="far fa-newspaper"></i> 最近の投稿</h2>
      <% if @local.articles.any? %>
          <%= render @articles.first(3), one_column: true, local: @local %>
      <% else %>
          <p class="txt-center">coming soon...</p>
      <% end %>
    </section>

    <%= link_to "#{@local.name}の他の記事をみてみる", local_articles_path(@local), class: 'pink_btn inline btm10per' if @local.articles.any? %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="flex_wrap cv_area">
    <% unless current_user.talking?(@local) %>
      <%= form_with(model: @talkroom, local: true) do |f| %>
        <%= f.hidden_field :local_id, value: @local.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit 'ちょっと話を聞いてみたい！', class: 'pink_btn' %>
      <% end %>
    <% else %>
      <%= link_to 'トークルームへ', talkroom_messages_path(@room), class: 'pink_btn to_room' %>
    <% end %>
    <%= render 'locals/bookmark_button2', local: @local %>
  </div>
<% end %>


  <script>
    <% if @local.score %>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
          labels: ["自然", "アクセス", "財政支援", "職", "ファミリー", "文化"],
          <% if user_signed_in? && current_user.score %>
            datasets: 
            [
                {
                label: '町の登録スコア',
                backgroundColor: 'rgba(227,182,188,0.5)',
                borderColor: 'rgba(227,134,146,1)',
                data: [<%= @local.score.nature %>,
                        <%= @local.score.accessibility %>,
                        <%= @local.score.budget %>,
                        <%= @local.score.job_support %>,
                        <%= @local.score.family_support %>,
                        <%= @local.score.culture %>]
                },
                {
                label: '自分の登録スコア',
                backgroundColor: 'rgba(146,227,134,0.5)',
                borderColor: 'rgba(146,227,134,1)',
                data: [<%= current_user.score.nature %>,
                        <%= current_user.score.accessibility %>,
                        <%= current_user.score.budget %>,
                        <%= current_user.score.job_support %>,
                        <%= current_user.score.family_support %>,
                        <%= current_user.score.culture %>]
                }
              ]
          <% else %>
          datasets: 
            [
                {
                label: '町の登録スコア',
                backgroundColor: 'rgba(227,182,188,0.5)',
                borderColor: 'rgba(227,134,146,1)',
                data: [<%= @local.score.nature %>,
                        <%= @local.score.accessibility %>,
                        <%= @local.score.budget %>,
                        <%= @local.score.job_support %>,
                        <%= @local.score.family_support %>,
                        <%= @local.score.culture %>]
                }
            ]
          <% end %>
        },
        options: {
          responsive: true,
            scale: {
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 5
                }
            }
        }
      });

    <% end %>
  </script>
