<%= provide(:button_text, '確定する') %>
<div class="container top60">
<section class="local_title_area localprofile_top" style="background: #fff url('<%= @local_headerimage ? @local_headerimage : asset_path('article_default.png') %>') no-repeat center center;">
  <div class="u_image"><%= gravatar_for(@local, size:100) %></div>
  <h1 class="username"><%= @local.full_name %></h1>
</section>
    <%= render 'form' %>
  </div>