<div class="separate">
  <div class="signin-up">
    <div class="loginlogo_area">
    <%= link_to root_path, id: "logo" do%>
      <%= image_tag 'logo.png', class: 'loginlogo' %>
    <% end %>
    </div>
    <h1 class="signin-txt">たくさんのイイトコが<br>あなたを待っています</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'iitoko@example.com' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <span class="help_note">（半角英数8文字以上）</span>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログインする", class: 'pink_btn' %>
      </div>
    <% end %>
      <div>
        <%= render "devise/shared/links" %>
      </div>
  </div>
  <div class="title_area">
  </div>
</div>
