<%= form_with(model: @score, local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="score">
    【自然】
    <% @points.each do |num| %>
      <div class="point">
        <%= f.radio_button :nature, num %>
        <%= f.label "nature_#{num}", "#{num}" %>
      </div>
    <% end %>
  </div>
  <div class="score">
    【アクセス】
    <% @points.each do |num| %>
      <div class="point">
        <%= f.radio_button :accessibility, num %>
        <%= f.label "accessibility_#{num}", "#{num}" %>
      </div>
    <% end %>
  </div>
  <div class="score">
    【お財布事情】
    <% @points.each do |num| %>
      <div class="point">
        <%= f.radio_button :budget, num %>
        <%= f.label "budget_#{num}", "#{num}" %>
      </div>
    <% end %>
  </div>
  <div class="score">
    【職】
    <% @points.each do |num| %>
      <div class="point">
        <%= f.radio_button :job_support, num %>
        <%= f.label "job_support_#{num}", "#{num}" %>
      </div>
    <% end %>
  </div>
  <div class="score">
    【ファミリー向け支援】
    <% @points.each do |num| %>
      <div class="point">
        <%= f.radio_button :family_support, num %>
        <%= f.label "family_support_#{num}", "#{num}" %>
      </div>
    <% end %>
  </div>
  <div class="score">
    【文化】
    <% @points.each do |num| %>
      <div class="point">
        <%= f.radio_button :culture, num %>
        <%= f.label "culture_#{num}", "#{num}" %>
      </div>
    <% end %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>