<%= gravatar_for @user %>
<%= @user.name %>
<% if user_signed_in? && current_user == @user %>
  <%= link_to "アカウント設定", edit_user_registration_path %>
<% end %>
<div>
<h2>登録スコア</h2>
  <% if @score %>
    <% if current_user == @user %>
      <%= link_to "スコア編集", edit_score_path(@user.score.id) %>
    <% end %>
    <table class="table">
      <thead>
        <tr>
          <th>自然</th>
          <th>アクセス</th>
          <th>お財布事情</th>
          <th>職</th>
          <th>ファミリー向け支援</th>
          <th>文化</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @score.nature %></td>
          <td><%= @score.accessibility %></td>
          <td><%= @score.budget %></td>
          <td><%= @score.job_support %></td>
          <td><%= @score.family_support %></td>
          <td><%= @score.culture %></td>
        </tr>
      </tbody>
    </table>
  <% elsif @user == current_user %>
    <%= link_to '移住に求める条件を登録しましょう', new_score_path %>
  <% else %>
    coming soon...
  <% end %>
</div>
<div>
  <h2>プロフィール</h2>
  <% if @user.user_profile %>
    <%= link_to 'プロフィール編集', edit_user_profile_path(@profile) if @user == current_user %>
    <table class="table">
      <tr>
        <th>居住地</th>
        <td><%= @profile.prefecture.name %></td>
      </tr>
      <tr>
        <th>年齢</th>
        <td><%= @profile.age %>代</td>
      </tr>
      <tr>
        <th>興味のある地域・検討中の地域</th>
        <td><%= @profile.proposed_site %></td>
      </tr>
      <tr>
        <th>職業</th>
        <td><%= @profile.job %></td>
      </tr>
      <tr>
        <th>家族構成</th>
        <td><%= @profile.family_structure %></td>
      </tr>
      <tr>
        <th>移住を検討している時期</th>
        <td><%= @profile.timing %></td>
      </tr>
      <tr>
        <th>移住を検討したきっかけ</th>
        <td><%= @profile.content %></td>
      </tr>
    </table>
  <% else %>
    <p>coming soon...</p>
    <%= link_to 'プロフィールを登録しましょう', new_user_profile_path if @user == current_user %>
  <% end %>

</div>
