<h1>おすすめ地域</h1>
<% if @recommends.any? %>
  <% @recommends.each do |local| %>
    <%= link_to local.name, local_path(local) %>
    <%= local.prefecture.name %>
    <p>マッチ度：　<%= local.difference_rate(current_user) %>%</p>
  <% end %>

<% else %>
  <p>おすすめ地域はありません。。。</p>
  <%= link_to 'スコアを登録する', new_score_path unless current_user.score %>
  <%= link_to '登録スコアを見直す', edit_score_path(current_user)  if current_user.score %>
<% end %>
