<h1>都道府県名で探す</h1>
<section>
<div class="japan_map">
    <%= image_tag "jp_map.png", class: 'map_img' %>
    <span class="area_btn area1" data-area="1">北海道・東北</span>
    <span class="area_btn area2" data-area="2">関東</span>
    <span class="area_btn area3" data-area="3">中部</span>
    <span class="area_btn area4" data-area="4">近畿</span>
    <span class="area_btn area5" data-area="5">中国・四国</span>
    <span class="area_btn area6" data-area="6">九州・沖縄</span>

    <div class="area_overlay"></div>
    <div class="pref_area">
        <div class="pref_list" data-list="1">
          <% @hokkaido_tohoku.each do |key, value| %>
            <div data-id="<%= key %>"><%= link_to value, prefecture_path(id: key) %></div>
          <% end %>
          <div></div>
        </div>

        <div class="pref_list" data-list="2">
          <% @kanto.each do |key, value| %>
            <div data-id="<%= key %>"><%= link_to value, prefecture_path(id: key) %></div>
          <% end %>
          <div></div>
        </div>

        <div class="pref_list" data-list="3">
          <% @chubu.each do |key, value| %>
            <div data-id="<%= key %>"><%= link_to value, prefecture_path(id: key) %></div>
          <% end %>
          <div></div>
        </div>

        <div class="pref_list" data-list="4">
          <% @kansai.each do |key, value| %>
            <div data-id="<%= key %>"><%= link_to value, prefecture_path(id: key) %></div>
          <% end %>
          <div></div>
        </div>

        <div class="pref_list" data-list="5">
          <% @chushikoku.each do |key, value| %>
            <div data-id="<%= key %>"><%= link_to value, prefecture_path(id: key) %></div>
          <% end %>
          <div></div>
        </div>

        <div class="pref_list" data-list="6">
          <% @kyusyu_okinawa.each do |key, value| %>
            <div data-id="<%= key %>"><%= link_to value, prefecture_path(id: key) %></div>
          <% end %>
        <div></div>
    </div>
</div>


<script>
$(function(){
    //地域を選択
    $('.area_btn').click(function(){
        $('.area_overlay').show();
        $('.pref_area').show();
        var area = $(this).data('area');
        $('[data-list]').hide();
        $('[data-list="' + area + '"]').show();
    });
    
    //レイヤーをタップ
    $('.area_overlay').click(function(){
        prefReset();
    });
    
    //都道府県をクリック
    $('.pref_list [data-id]').click(function(){
        if($(this).data('id')){
            var id = $(this).data('id');
            
            prefReset();
        }
    });
    
    //表示リセット
    function prefReset(){
        $('[data-list]').hide();
        $('.pref_area').hide();
        $('.area_overlay').hide();
    }
});
</script>