<header class="navbar navbar-fixed-top">
  <div class="container logonnav">
    <%= link_to root_path, id: "logo" do%>
      <%= image_tag 'logo.png', class: 'logo' %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% unless @title_for_local %>
          <% unless local_signed_in? %>
            <li><%= link_to search_path, class: 'navItem navText' do %>
              <i class="fas fa-search"></i> <span class="menu_text">キーワードから探す</span></a>
              <% end %>
            </li>
            <li class="sp_position"><%= link_to prefectures_path, class: 'navItem navText' do %>
              <i class="fas fa-map-marker-alt"></i> <span class="menu_text">都道府県から探す</span>
              <% end %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <%= link_to timeline_path, class: 'navItem navText' do %>
                <i class="fas fa-stream"></i> <span class="menu_text">タイムライン</span>
              <% end %>
            </li>
            <li>
              <%= link_to talkrooms_path, class: 'navItem navText' do %>
                <i class="far fa-comment-alt"></i> <span class="menu_text">メッセージ</span>
              <% end %>
            </li>
            <li> 
              <%= link_to notifications_path, class: 'navItem' do %>
                <% if unchecked_notifications.any? %>
                  <i class="fas fa-bell fa-lg noticeBadge navText" style="font-size: 1.5em;"></i>
                <% else %>
                  <i class="fas fa-bell fa-lg navText"></i>
                <% end %>
              <% end %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navItem" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <%= gravatar_for current_user, size: 40 %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to "マイページ", current_user, class: 'dropdown-item navItem' %></li>
                <li><%= link_to "アカウント設定", edit_user_registration_path, class: 'dropdown-item navItem' %></li>
                <li><%= link_to "お気に入り一覧", bookmarks_user_path(current_user), class: 'dropdown-item navItem' %></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item navItem' %>
                </li>
              </ul>
            </li>
          <% elsif local_signed_in? %>
            <li>
              <%= link_to new_article_path, class: 'navItem navText' do %>
                <i class="fas fa-pen"></i> <span class="menu_text">記事作成</span>
              <% end %>
            </li>
            <li>
              <%= link_to local_articles_path(current_local), class: 'navItem navText' do %>
                <i class="fas fa-stream"></i> <span class="menu_text">記事一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to talkrooms_path, class: 'navItem navText' do %>
                <i class="far fa-comment-alt"></i> <span class="menu_text">メッセージ</span>
              <% end %>
            </li>
            <li>
              <%= link_to notifications_path, class: 'navItem' do %>
                <% if unchecked_notifications.any? %>
                  <i class="fas fa-bell fa-lg noticeBadge navText" style="font-size: 1.5em;"></i>
                <% else %>
                  <i class="fas fa-bell fa-lg navText" style="font-size: 1.5em;"></i>
                <% end %>
              <% end %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navItem" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <%= gravatar_for current_local, size: 40 %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to 'マイページ', current_local, class: 'dropdown-item navItem' %></li>
                <li><%= link_to "アカウント設定", edit_local_registration_path, class: 'dropdown-item navItem' %></li>
                <li><%= link_to "お気に入り一覧", bookmarks_local_path(current_local), class: 'dropdown-item navItem' %></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <%= link_to "ログアウト", destroy_local_session_path, method: :delete, class: 'dropdown-item navItem' %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="sp_none"><%= link_to "ログイン", new_user_session_path, class: 'navButton login_btn navItem navText' %></li>
            <li class="sp_none"><%= link_to "会員登録", new_user_registration_path, class: 'navButton signin_btn navItem navText' %></li>
            <li class="sp_none"><%= link_to "自治体の方", top_path, class: 'navItem navText' %></li>
            <div class="hamburger-menu">
                <input type="checkbox" id="menu-btn-check">
                <label for="menu-btn-check" class="menu-btn"><span></span></label>
                <div class="menu-content">
                  <ul>
                    <li><%= link_to "ログイン", new_user_session_path, class: 'navItem navText' %></li>
                    <li><%= link_to "会員登録", new_user_registration_path, class: 'navItem navText' %></li>
                    <li><%= link_to "自治体の方", top_path, class: 'navItem navText' %></li>
                  </ul>
                </div>
            </div>
          <% end %>
        <% else %>
          <li><%= link_to "ログイン", new_local_session_path, class: 'navButton login_btn navItem navText sp_textSize' %></li>
          <li><%= link_to "会員登録", new_local_registration_path, class: 'navButton signin_btn navItem navText sp_textSize' %></li>
          <li><%= link_to "一般の方", root_path, class: 'navItem navText sp_textSize' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>