<div class="separate h-auto">
  <div class="signin-up">
    <div class="loginlogo_area">
      <%= link_to root_path, id: "logo" do%>
        <%= image_tag 'logo.png', class: 'loginlogo' %>
      <% end %>
    </div>
    <h1 class="signin-txt">ステキな町との<br>出会いがありますように</h1>
    <%= form_with(model: @user, url: user_registration_path, id: 'new_user', class: 'new_user',local: true) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :name, class: 'form-label' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', placeholder: 'イイトコ　太郎' %>
      </div>
      <div class="field mb-3">
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: 'iitoko@example.com' %>
      </div>
      <div class="field mb-3">
        <%= f.label :password, class: 'form-label' %>
        <% if @minimum_password_length %>
        <em>(半角英大文字・小文字・数字それぞれ１文字以上の8~12文字)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= f.label :password_confirmation, class: 'form-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "無料で会員登録する", class: 'pink_btn' %>
      </div>
    <% end %>
    <div>
      <%= render "users/shared/links" %>
    </div>
  </div>
  <div class="title_area">
  </div>
</div>